<div id="app-container">
  <mat-drawer-container class="drawer-container" hasBackdrop=true (backdropClick)="close('backdrop')">
    <mat-drawer #drawer mode="over" class="drawer">
      <mat-nav-list>
        <a mat-list-item class="small-font" [routerLink]="'/members'" (click)="drawer.close()">Member Search</a>
        <a mat-list-item class="small-font" [routerLink]="'/search-result'" (click)="drawer.close()">Search Result</a>
      </mat-nav-list>
    </mat-drawer>
    <mat-drawer-content>
      <mat-toolbar color="primary" class="example-toolbar">
        <button color="accent" class="menu-button" (click)="drawer.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <h1 class="example-app-name">Member Portal</h1>
      </mat-toolbar>
      <div class="note">
        <h3> Welcome to Search a Member</h3>
      </div>
      <div class="router-outlet">
        <!--router outlet for app routing-->
        <router-outlet></router-outlet>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
</div>